

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?r87rmg');
    src:  url('fonts/icomoon.eot?r87rmg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r87rmg') format('truetype'),
    url('fonts/icomoon.woff?r87rmg') format('woff'),
    url('fonts/icomoon.svg?r87rmg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-image: url(bg.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    font-family: icomoon, arial, sans-serif;
}

#progress{
    display: block;
    width: 550px;
    float: left;
    height: 30px;
}
#time{
    display: block;
    float: right;
    color: #FFF;
    line-height: 30px;
}

#screen{
    position: relative;
    color: #FFF;
    text-align: center;
    overflow: hidden;
}
#film{
    z-index: 1;
    position: absolute;
    bottom: 30px;
    top: 0;
    left:0;
    right: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}
#play{
    display: block;
    float: left;
}
#panel .button{
    height: 30px;
    display: block;
}
#panel .button img{
    width: 100%;
    height: 100%;
}
#sound{
    float: right;
    position: relative;
}
#fullScreen{
    float: right;
}
#list{
    width: 80%;
    margin: 0 auto;
}
#list div{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
}
#list img{
    width: 100%;
    height: 100%;
}
