.progress {
  display: flex;
  cursor: pointer;
  position: relative;
}
.progress > div {
  transition: height 0.4s,width 0.4s;
  position: absolute;
}
.progress .all {
  background-color: rgba(255, 255, 255, 0.3);
}
.progress .buffer {
  background-color: rgba(255, 255, 255, 0.6);
}
.progress .current {
  background-color: #b94d47;
}
.progress-horizontal {
  align-items: center;
  min-height: 30px;
}
.progress-horizontal > div {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
}
.progress-horizontal .all {
  width: 100%;
}
.progress-horizontal .current {
  width: 0;
}
.progress-horizontal:hover > div {
  height: 5px;
}
.progress-horizontal:hover .current:after {
  content: "";
  background-color: #b94d47;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.progress-vertical {
  min-width: 30px;
  height: 96%;
  width: 100%;
}
.progress-vertical > div {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 3px;
}
.progress-vertical .all {
  height: 100%;
}
.progress-vertical .current {
  height: 0;
}
.progress-vertical:hover > div {
  width: 5px;
}
.progress-vertical:hover .current:after {
  content: "";
  background-color: #b94d47;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -6px);
}
